.searchBar {
    border-bottom: 1px solid #fff;
    background: transparent;
    width: 75%;
    padding: 3;

}

.filledSearchBar {
    border-bottom: solid 2px #fff;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    width: 75%;

}

.searchBar:focus + .filledSearchBar {
    transform-origin: 100% 50%;
    transform: scaleX(1);
}